body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #011627;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiAppBar-root{
  background-color: transparent;
}
.headOne{
  color:#FFC847;
}
.textColor{
  color:#FDFFFC !important;
}
.linksMain{
  text-decoration: none !important;
  font-weight: bold;
  color:#FDFFFC !important;
}
.linksMain:hover{
  color:#C4CFD4 !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.bb{
  border-bottom: 1px solid #2c2c2eff;
}