@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001029;
  margin: 0px;
}
.bgColor{
  color: #001029;
}
.thirdColor{
  color:#f8c0d2 !important;
}
.thirdColorBG{
  background-color:#E3B23C !important;
}

h1 {
  margin: 0;
}
.bb {
  background-color: transparent !important;
}
.hamBurger svg {
  color: white !important;
  height: 1.8em !important;
  width: 1.8em !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MuiAppBar-root {
  background-color: transparent;
}
.headOne {
  color: #ffffff;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 900;
}
.leftWrapper {
  margin: 0 auto;
  grid-gap: 20px;
}
.leftheadText {
  margin: 0 auto;
  display: block;
}
.headSpecial {
  color: #001029;
  font-weight: 900;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #FFFFFF;
}
.textColor {
  color: #fdfffc !important;
}
.linksHead{
  text-decoration: none !important;
  color: #EBF5FF !important ;
  padding: 10px 5px; 
  font-family: monospace;
}
.linksHead:hover{
  color: #E3B23C !important;
}
.linksMain:hover {
  color: #001b29 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.bb {
  border-bottom: 1px solidt transparent;
}
.leftBlock {
  /* background-color: #47A8BD;
  height: 100vh; */
}
.contentBox {
  color: #fdfffc;
  font-weight: 400;
  font-size: 2em;
  line-height: 48px;
}
.chat-notification {
  display: flex;
  max-width: 24rem;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.chat-notification-logo-wrapper {
  flex-shrink: 0;
}
.chat-notification-logo {
  height: 3rem;
  width: 3rem;
}
.chat-notification-content {
  margin-left: 1.5rem;
  padding-top: 0.25rem;
}
.chat-notification-title {
  color: #1a202c;
  font-size: 1.25rem;
  line-height: 1.25;
}
.chat-notification-message {
  color: #718096;
  font-size: 1rem;
  line-height: 1.5;
}
.section-Main{
    min-height: 100vh;
    padding-top: 5vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* background-image: url(https://uploads-ssl.webflow.com/60a11f286cce9b4ccbc7fa02/60a11f286cce9b078bc7fa1e_circle--half.svg), linear-gradient(
180deg, #001b29 50%, #ffffff);
    background-position: 50% 100%, 0px 0px;
    background-size: contain, auto;
    background-repeat: no-repeat, repeat;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center; */
}
.section-Experience{
  min-height: 90vh;
  display: block;
  align-items: center;
}
.section-Projects{
  min-height: 90vh;
  display: block;
  align-items: center;
}
.section-Footer{
  display: block;
  align-items: center;
}
.pageTitles{
  font-size: 2em;
  color: #EBF5FF;
  font-weight: bold;
}
.textBlurbs{
  font-size: 1em;
  color: #EBF5FF;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  background-color: #14284c;
  box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
  padding: 2rem 1.75rem;
}
.backGround{
  position: absolute;
  left: 0px;
  width: 100%;
  min-height: 650px;
  background: linear-gradient(67deg, rgb(0 5 255 / 0%) 20%, rgb(73, 97, 220) 99%);
  transform: skewY(-3deg);
}

/* @@@@@@@@@@@ New CSS*/

li {
  display: inline;
}

.specialName h1{
  color: #E3B23C;
  font-weight: 400;
  margin-top: 10px;
  font-family: monospace;
  font-size: 15px;
}
.specialTitle h1{
  color: #001029;
  font-weight: 900;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #E3B23C;
      font-size: clamp(35px, 8vw, 55px);
}
.mainName h1{
  color: #EBF5FF;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 900;
  margin-top: 10px;
}
.mainBlurb p {
  color: #EBF5FF;
  margin-top: 10px;
}
.specialBlurb p {
  color: #E3B23C;
  margin-top: 5px;
  font-weight: 600;
  font-family: monospace;
  font-style: italic;
}
.linksMain {
  text-decoration: none !important;
  font-weight: bold;
  color: #fdfffc !important;
  border: 1px solid #E3B23C;
  padding: 5px;
}
.sectionTitles h1{
  font-size: clamp(50px, 8vw, 90px);
  font-weight: 900;
  color: #EBF5FF;
}
.jobTitle{
  font-size: clamp(25px, 2vw, 90px);
  font-weight: bold;
  color: #EBF5FF;
}
.jobCompany{
  font-weight: bold;
  font-size: clamp(20px, 2vw, 30px);
  color: #EBF5FF;
}
.jobBlurb{
  font-size: clamp(15px, 1vw, 30px);
    color: #718096;
    line-height: 1.75rem;
    font-weight: 500;
}
.jobYear{
  font-size: clamp(15px, 0.5vw, 30px);
  background: #E3B23C;
  color: #112240;
  width: 300px;
  display: block;
  padding: 1px;
  font-weight: bold;
  font-family: monospace;
}
.footerText{
  font-family: monospace;
  color: #718096;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.media__stack-icon {
  height: 1.25rem;
  margin-right: 0.25rem;;
  fill: #E3B23C;
}
.laguageText{
  line-height: 1;
  font-family: monospace;
}
path:hover {
  color: #E3B23C;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
li{
  display: list-item;
}
ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #E3B23C; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
